In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import statistics 
import math

In [2]:
matches = pd.read_csv("/content/sample_data/matches.csv")
matches.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [3]:
# setting up the table with relevant columns
dropList = ["result","player_of_match","venue","umpire1","umpire2","umpire3"]
matches.drop(labels=dropList, axis=1, inplace=True)
matches.head()

   id  season  ... win_by_runs win_by_wickets
0   1    2017  ...          35              0
1   2    2017  ...           0              7
2   3    2017  ...           0             10
3   4    2017  ...           0              6
4   5    2017  ...          15              0

[5 rows x 12 columns]

In [4]:
matches[pd.isnull(matches['winner'])]

        id  season       city  ... winner win_by_runs win_by_wickets
300    301    2011      Delhi  ...    NaN           0              0
545    546    2015  Bangalore  ...    NaN           0              0
570    571    2015  Bangalore  ...    NaN           0              0
744  11340    2019  Bengaluru  ...    NaN           0              0

[4 rows x 12 columns]

In [5]:
matches['winner'].fillna('Draw', inplace=True)
matches[pd.isnull(matches['winner'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, dl_applied, winner, win_by_runs, win_by_wickets]
Index: []

In [6]:
matches[pd.isnull(matches['city'])]

      id  season city  ...                       winner win_by_runs win_by_wickets
461  462    2014  NaN  ...  Royal Challengers Bangalore           0              7
462  463    2014  NaN  ...             Delhi Daredevils           0              4
466  467    2014  NaN  ...          Chennai Super Kings           7              0
468  469    2014  NaN  ...          Sunrisers Hyderabad           4              0
469  470    2014  NaN  ...          Chennai Super Kings           0              7
474  475    2014  NaN  ...              Kings XI Punjab           0              5
476  477    2014  NaN  ...          Sunrisers Hyderabad          15              0

[7 rows x 12 columns]

In [7]:
matches['city'].fillna('Dubai', inplace=True)
matches[pd.isnull(matches['city'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, dl_applied, winner, win_by_runs, win_by_wickets]
Index: []

In [8]:
matches.replace(["Deccan Chargers","Delhi Daredevils"],["Sunrisers Hyderabad","Delhi Capitals"],inplace=True,regex=True)
match1 = matches[((matches.team1=="Delhi Capitals") & (matches.team2=="Sunrisers Hyderabad")) | ((matches.team1=="Sunrisers Hyderabad") & (matches.team2=="Delhi Capitals"))]
match1.shape[0]

26

In [9]:
mw_srh = 0 
mw_dc = 0
lst= [i for i in match1['winner']] 
print("Win Tracker!")
for i in lst:
  if i=="Delhi Capitals":
    mw_dc += 1
  elif i=='Draw':
    continue
  else:
    mw_srh += 1
  print(str(mw_srh)+" "+str(mw_dc))
print("SRH vs DC : "+str(mw_srh)+" "+str(mw_dc))

Win Tracker!
1 0
1 1
1 2
1 3
1 4
1 5
2 5
3 5
4 5
5 5
5 6
5 7
5 8
6 8
7 8
8 8
9 8
9 9
10 9
10 10
10 11
11 11
12 11
13 11
13 12
13 13
SRH vs DC : 13 13

In [10]:
last_3_season = match1[match1.season >= 2017]
last_3_season.groupby('winner').winner.count()

winner
Delhi Capitals         3
Sunrisers Hyderabad    4
Name: winner, dtype: int64

Out of 26 matches held between SRH and DC compared in two scenarios, SRH  and DC draws with the complete history and also in last 3 season record, SRH leads with 4 to 3

In [11]:
def statistics_for_lists(lst):
  print("Maximum Value Of List:")
  print(max(lst))
  print("Median of the List:")
  print(statistics.median(lst))
  print("Mean of the List:")
  print(statistics.mean(lst))
  print("75% of the Median is:")
  print(statistics.median_high(lst))
  print("Minimum Value of List:")
  print(min(lst))

In [12]:
deliveries = pd.read_csv("/content/sample_data/deliveries.csv")
deliveries.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [13]:
dropToBeList = ['inning','is_super_over','bye_runs','legbye_runs','fielder']
deliveries.drop(dropToBeList, axis=1, inplace=True)
deliveries.replace(['Deccan Chargers','Delhi Daredevils'],['Sunrisers Hyderabad','Delhi Capitals'],inplace=True,regex=True)
deliveries['dismissal_kind'].fillna('Not Out',inplace=True)
deliveries.head()

   match_id         batting_team  ... player_dismissed  dismissal_kind
0         1  Sunrisers Hyderabad  ...              NaN         Not Out
1         1  Sunrisers Hyderabad  ...              NaN         Not Out
2         1  Sunrisers Hyderabad  ...              NaN         Not Out
3         1  Sunrisers Hyderabad  ...              NaN         Not Out
4         1  Sunrisers Hyderabad  ...              NaN         Not Out

[5 rows x 16 columns]

In [14]:
ballbyball = deliveries[((deliveries.batting_team=="Delhi Capitals") & (deliveries.bowling_team=='Sunrisers Hyderabad')) | ((deliveries.batting_team=='Sunrisers Hyderabad') & (deliveries.bowling_team=="Delhi Capitals"))]
no_of_matches=list(set([i for i in ballbyball['match_id']]))
no_of_matches.sort()
print(len(no_of_matches))

26

In [17]:
#Q5
rk = ballbyball[(ballbyball.dismissal_kind.isin(['bowled','caught','caught and bowled','lbw'])) & (ballbyball.bowler=='Rashid Khan')].groupby('match_id').dismissal_kind.count()
rk.describe()

count    4.00000
mean     1.50000
std      0.57735
min      1.00000
25%      1.00000
50%      1.50000
75%      2.00000
max      2.00000
Name: dismissal_kind, dtype: float64

There is on an average, chance of fall of 1 to 2 wickets by Rashid Khan!

In [29]:
#Q2
srh = ballbyball[ballbyball.batting_team=='Sunrisers Hyderabad']
srh_dif=[]
for i in no_of_matches:
  df = srh[srh.match_id==i]
  tot_runs = [k for k in df['total_runs']]
  wides = [k for k in df['wide_runs']]
  nobs = [k for k in df['noball_runs']]
  ball_to_30=0
  ball_to_50=0
  score_to_50=0
  score_to_30=0
  for j in range(len(tot_runs)):
    if(score_to_30 < 30 and wides[j]==0 and nobs[j]==0):
      ball_to_30 +=1
      ball_to_50 +=1
      score_to_30 += tot_runs[j]
      score_to_50 += tot_runs[j]
    elif(score_to_30 < 30 and (wides[j]!=0 or nobs[j]!=0)):
      score_to_30 += tot_runs[j]
      score_to_50 += tot_runs[j]
    elif(score_to_50 < 50 and wides[j]==0 and nobs[j]==0):
      score_to_50 += tot_runs[j]
      ball_to_50 += 1
    elif(score_to_50 < 50 and (wides[j]!=0 or nobs[j]!=0)):
      score_to_50 += tot_runs[j]
  diff = ball_to_50 - ball_to_30
  srh_dif.append(diff)

In [30]:
dc = ballbyball[ballbyball.batting_team=='Delhi Capitals']
dc_dif=[]
for i in no_of_matches:
  df = dc[dc.match_id==i]
  tot_runs = [k for k in df['total_runs']]
  wides = [k for k in df['wide_runs']]
  nobs = [k for k in df['noball_runs']]
  ball_to_30=0
  ball_to_50=0
  score_to_50=0
  score_to_30=0
  for j in range(len(tot_runs)):
    if(score_to_30 < 30 and wides[j]==0 and nobs[j]==0):
      ball_to_30 +=1
      ball_to_50 +=1
      score_to_30 += tot_runs[j]
      score_to_50 += tot_runs[j]
    elif(score_to_30 < 30 and (wides[j]!=0 or nobs[j]!=0)):
      score_to_30 += tot_runs[j]
      score_to_50 += tot_runs[j]
    elif(score_to_50 < 50 and wides[j]==0 and nobs[j]==0):
      score_to_50 += tot_runs[j]
      ball_to_50 += 1
    elif(score_to_50 < 50 and (wides[j]!=0 or nobs[j]!=0)):
      score_to_50 += tot_runs[j]
  diff = ball_to_50 - ball_to_30
  dc_dif.append(diff)
print(srh_dif)
print(dc_dif)
overall_diff = [abs(srh_dif[i]-dc_dif[i]) for i in range(len(srh_dif))]
statistics_for_lists(overall_diff)

[13, 11, 27, 6, 21, 24, 9, 17, 17, 19, 18, 9, 15, 23, 27, 11, 4, 7, 22, 9, 18, 6, 8, 6, 21, 16]
[11, 9, 19, 16, 22, 8, 14, 22, 24, 19, 6, 14, 12, 26, 22, 15, 8, 15, 11, 14, 18, 11, 23, 18, 12, 4]
Maximum Value Of List:
16
Median of the List:
5.0
Mean of the List:
6.5
75% of the Median is:
5
Minimum Value of List:
0

In [31]:
#Q3 
dw = deliveries[deliveries['batsman']=="DA Warner"]
lst_match_id = list(set([i for i in dw['match_id']]))
runs_scored_last_7=[]
for i in lst_match_id:
  df = dw[dw.match_id==i]
  runs_lst = [j for j in df['batsman_runs']]
  if(len(runs_lst)<7):
    runs_scored_last_7.append(0)
  else:
    runs_lst = runs_lst[-7:]
    runs_scored_last_7.append(sum(runs_lst))
statistics_for_lists(runs_scored_last_7)

Maximum Value Of List:
24
Median of the List:
8.0
Mean of the List:
8.507936507936508
75% of the Median is:
8
Minimum Value of List:
0

He scores an average of 8 runs before his dismissal

In [32]:
#Q3
dw = ballbyball[ballbyball['batsman']=="DA Warner"]
lst_match_id = list(set([i for i in dw['match_id']]))
runs_scored_last_7=[]
for i in lst_match_id:
  df = dw[dw.match_id==i]
  runs_lst = [j for j in df['batsman_runs']]
  if(len(runs_lst)<7):
    runs_scored_last_7.append(0)
  else:
    runs_lst = runs_lst[-7:]
    runs_scored_last_7.append(sum(runs_lst))
statistics_for_lists(runs_scored_last_7)

Maximum Value Of List:
20
Median of the List:
5.5
Mean of the List:
7.222222222222222
75% of the Median is:
6
Minimum Value of List:
0

While playing with SRH, it comes some what down to 7.2

In [40]:
#Q4
players_in_match = ballbyball[ballbyball.batsman.isin(['DA Warner','K Williamson','MK Pandey','S Dhawan','SS Iyer','RR Pant'])]
players=['DA Warner','K Williamson','MK Pandey','S Dhawan','SS Iyer','RR Pant']
scores=[0]*6
lst_match_ids = list(set([i for i in players_in_match['match_id']]))
for i in lst_match_ids:
  df = ballbyball[ballbyball.match_id==i]
  lst_batsman=list(set([j for j in df['batsman']]))
  bound_smashed_player=[]
  for j in lst_batsman:
    nof_bound = df[((df.batsman_runs==4) | (df.batsman_runs==6)) & (df.batsman==j)]
    nof_bound = nof_bound.shape[0]
    bound_smashed_player.append(nof_bound)
  maxbound = max(bound_smashed_player)
  boundchamp=0
  for k in range(len(players)):
    if players[k] in lst_batsman:
      index = lst_batsman.index(players[k])
      bound = bound_smashed_player[index]
      if bound<maxbound:
        continue
      else:
        boundchamp=k
        scores[boundchamp] += 1
print(len(lst_match_ids))
print(scores)

25
[3, 0, 0, 1, 1, 1]