In [29]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import statistics 
import math

In [30]:
matches = pd.read_csv("/content/sample_data/matches.csv")
matches.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [31]:
# setting up the table with relevant columns
dropList = ["result","player_of_match","venue","umpire1","umpire2","umpire3"]
matches.drop(labels=dropList, axis=1, inplace=True)
matches.head()

   id  season  ... win_by_runs win_by_wickets
0   1    2017  ...          35              0
1   2    2017  ...           0              7
2   3    2017  ...           0             10
3   4    2017  ...           0              6
4   5    2017  ...          15              0

[5 rows x 12 columns]

In [32]:
matches[pd.isnull(matches['winner'])]

        id  season       city  ... winner win_by_runs win_by_wickets
300    301    2011      Delhi  ...    NaN           0              0
545    546    2015  Bangalore  ...    NaN           0              0
570    571    2015  Bangalore  ...    NaN           0              0
744  11340    2019  Bengaluru  ...    NaN           0              0

[4 rows x 12 columns]

In [33]:
matches['winner'].fillna('Draw', inplace=True)
matches[pd.isnull(matches['winner'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, dl_applied, winner, win_by_runs, win_by_wickets]
Index: []

In [34]:
matches[pd.isnull(matches['city'])]

      id  season city  ...                       winner win_by_runs win_by_wickets
461  462    2014  NaN  ...  Royal Challengers Bangalore           0              7
462  463    2014  NaN  ...             Delhi Daredevils           0              4
466  467    2014  NaN  ...          Chennai Super Kings           7              0
468  469    2014  NaN  ...          Sunrisers Hyderabad           4              0
469  470    2014  NaN  ...          Chennai Super Kings           0              7
474  475    2014  NaN  ...              Kings XI Punjab           0              5
476  477    2014  NaN  ...          Sunrisers Hyderabad          15              0

[7 rows x 12 columns]

In [35]:
matches['city'].fillna('Dubai', inplace=True)
matches[pd.isnull(matches['city'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, dl_applied, winner, win_by_runs, win_by_wickets]
Index: []

In [36]:
matches.replace(["Deccan Chargers","Delhi Daredevils"],["Sunrisers Hyderabad","Delhi Capitals"],inplace=True,regex=True)
match1 = matches[((matches.team1=="Chennai Super Kings") & (matches.team2=="Kolkata Knight Riders")) | ((matches.team1=="Kolkata Knight Riders") & (matches.team2=="Chennai Super Kings"))]
match1.shape[0]

20

In [37]:
mw_csk = 0 
mw_kkr = 0
lst= [i for i in match1['winner']] 
print("Win Tracker!")
for i in lst:
  if i=="Kolkata Knight Riders":
    mw_kkr += 1
  elif i=='Draw':
    continue
  else:
    mw_csk += 1
  print(str(mw_csk)+" "+str(mw_kkr))
print("CSK vs KKR : "+str(mw_csk)+" "+str(mw_kkr))

Win Tracker!
1 0
2 0
2 1
3 1
4 1
5 1
5 2
5 3
6 3
6 4
7 4
8 4
9 4
9 5
9 6
10 6
11 6
11 7
12 7
13 7
CSK vs KKR : 13 7

In [38]:
last_3_season = matches[(matches['season']>=2017) & np.logical_or(np.logical_and(matches.team1=="Kolkata Knight Riders",matches.team2=="Chennai Super Kings"),np.logical_and(matches.team1=="Chennai Super Kings",matches.team2=="Kolkata Knight Riders"))]
last_3_season.groupby('winner').season.count()

winner
Chennai Super Kings      3
Kolkata Knight Riders    1
Name: season, dtype: int64

Out of 20 matches held between CSK and KKR , CSK leads KKR 13 is to 7.Same is the case with last three seasons, CSK has got clear lead of victories over KKR i.e 3 is to 1

In [39]:
def statistics_for_lists(lst):
  print("Maximum Value Of List:")
  print(max(lst))
  print("Median of the List:")
  print(statistics.median(lst))
  print("Mean of the List:")
  print(statistics.mean(lst))
  print("75% of the Median is:")
  print(statistics.median_high(lst))
  print("Minimum Value of List:")
  print(min(lst))

In [40]:
deliveries = pd.read_csv("/content/sample_data/deliveries.csv")
deliveries.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [41]:
dropToBeList = ['inning','is_super_over','bye_runs','legbye_runs','fielder']
deliveries.drop(dropToBeList, axis=1, inplace=True)
deliveries.replace(['Deccan Chargers','Delhi Daredevils'],['Sunrisers Hyderabad','Delhi Capitals'],inplace=True,regex=True)
deliveries['dismissal_kind'].fillna('Not Out',inplace=True)
deliveries.head()

   match_id         batting_team  ... player_dismissed  dismissal_kind
0         1  Sunrisers Hyderabad  ...              NaN         Not Out
1         1  Sunrisers Hyderabad  ...              NaN         Not Out
2         1  Sunrisers Hyderabad  ...              NaN         Not Out
3         1  Sunrisers Hyderabad  ...              NaN         Not Out
4         1  Sunrisers Hyderabad  ...              NaN         Not Out

[5 rows x 16 columns]

In [42]:
ballbyball = deliveries[((deliveries.batting_team=="Kolkata Knight Riders") & (deliveries.bowling_team=="Chennai Super Kings")) | ((deliveries.batting_team=="Chennai Super Kings") & (deliveries.bowling_team=="Kolkata Knight Riders"))]
no_of_matches=list(set([i for i in ballbyball['match_id']]))
no_of_matches.sort()
print(len(no_of_matches))

20

In [43]:
#Q2
csk = ballbyball[(ballbyball.batting_team=='Chennai Super Kings')]
csk_balls_to_75=[]

for i in no_of_matches:
  csk_match = csk[csk['match_id']==i]
  csk_wide_runs = [k for k in csk_match['wide_runs']]
  csk_noball_runs = [l for l in csk_match['noball_runs']]
  csk_total_runs = [m for m in csk_match['total_runs']]
  score=0
  ball=0
  for j in range(len(csk_total_runs)):
    if(csk_wide_runs[j]==0 and csk_noball_runs[j]==0 and score<75):
      score += csk_total_runs[j]
      ball += 1
    elif((csk_wide_runs[j]!=0 or csk_noball_runs[j]!=0) and score<75):
      score += csk_total_runs[j]
    else:
      break
  csk_balls_to_75.append(ball)

print(csk_balls_to_75)

kkr = ballbyball[(ballbyball.batting_team=='Kolkata Knight Riders')]
kkr_balls_to_75=[]
for i in no_of_matches:
  kkr_match = kkr[kkr['match_id']==i]
  kkr_wide_runs = [k for k in kkr_match['wide_runs']]
  kkr_noball_runs = [l for l in kkr_match['noball_runs']]
  kkr_total_runs = [m for m in kkr_match['total_runs']]
  score=0
  ball=0
  for j in range(len(kkr_total_runs)):
    if(kkr_wide_runs[j]==0 and kkr_noball_runs[j]==0 and score<75):
      score += kkr_total_runs[j]
      ball += 1
    elif((kkr_wide_runs[j]!=0 or kkr_noball_runs[j]!=0) and score<75):
      score += kkr_total_runs[j]
    else:
      break
  kkr_balls_to_75.append(ball)

print(kkr_balls_to_75)

[58, 48, 49, 75, 42, 57, 87, 62, 48, 52, 95, 44, 56, 76, 44, 61, 34, 46, 78, 63]
[65, 69, 54, 70, 75, 60, 60, 66, 51, 45, 74, 51, 77, 53, 66, 70, 46, 49, 92, 52]

In [44]:
diff = []
for i in range(len(kkr_balls_to_75)):
  diff.append(abs(csk_balls_to_75[i] - kkr_balls_to_75[i]))
statistics_for_lists(diff)

Maximum Value Of List:
33
Median of the List:
10.0
Mean of the List:
12.9
75% of the Median is:
11
Minimum Value of List:
3

According to the statistics, there might be a difference of 10-13 balls between both the teams to reach the score of 75

In [52]:
#Q3
deepak_chahar = deliveries[deliveries['bowler']=='DL Chahar']
matches_he_played = list(set([i for i in deepak_chahar['match_id']]))
wkt_of_match=[]
for i in matches_he_played:
  match_stats = deepak_chahar[deepak_chahar['match_id']==i]
  dc_nobs = [j for j in match_stats['noball_runs']]
  dc_wides = [j for j in match_stats['wide_runs']]
  dc_dismissal_stat=[j for j in match_stats['dismissal_kind']]
  ball=0
  flag=0
  for k in range(len(dc_dismissal_stat)):
    if(dc_nobs[k]!=0 or dc_wides[k]!=0):
      continue
    elif(dc_nobs[k]==0 and dc_wides[k]==0 and dc_dismissal_stat[k]!='Not Out' and dc_dismissal_stat[k]!='run out'):
      ball += 1
      flag=1
      break
    else:
      ball += 1
  if(flag==1):
    wkt_of_match.append(ball)
  else:
    wkt_of_match.append(0)
not_zeroes = [i for i in wkt_of_match if i!=0]
print(round(len(not_zeroes)/len(wkt_of_match),2))
statistics_for_lists(not_zeroes)

0.65
Maximum Value Of List:
24
Median of the List:
9.0
Mean of the List:
9.772727272727273
75% of the Median is:
9
Minimum Value of List:
1

Deepak Chahar usually takes wickets only 65% percent of his total matches played. Out of those matches, he may get the wicket at 9th or 10th ball according to the statistics.

In [56]:
#Q4
over_having_6_4_kkr=[]
for i in no_of_matches:
  kkr_df = ballbyball[(ballbyball.match_id==i) & (ballbyball.batting_team=='Kolkata Knight Riders')]
  count=0
  kkr_overs = []
  for j in kkr_df['over']:
    if j not in kkr_overs:
      kkr_overs.append(j)
  for j in kkr_overs:
    kkr_over_df = kkr_df[kkr_df['over']==j]
    kkr_over_batsman_runs = [l for l in kkr_over_df['batsman_runs']]
    if(kkr_over_batsman_runs.count(4)>=1 and kkr_over_batsman_runs.count(6)>=1):
      count += 1
  over_having_6_4_kkr.append(count)
print(over_having_6_4_kkr)

over_having_6_4_csk=[]
for i in no_of_matches:
  csk_df = ballbyball[(ballbyball.match_id==i) & (ballbyball.batting_team=='Chennai Super Kings')]
  csk_overs = []
  count=0
  for j in csk_df['over']:
    if j not in csk_overs:
      csk_overs.append(j)
  for j in csk_overs:
    csk_over_df = csk_df[csk_df['over']==j]
    csk_over_batsman_runs = [l for l in csk_over_df['batsman_runs']]
    if(csk_over_batsman_runs.count(4)>=1 and csk_over_batsman_runs.count(6)>=1):
      count += 1
  over_having_6_4_csk.append(count)
print(over_having_6_4_csk)

[2, 0, 4, 0, 2, 2, 0, 0, 3, 2, 0, 2, 2, 1, 3, 3, 3, 0, 1, 3]
[1, 0, 2, 4, 2, 2, 0, 1, 6, 4, 1, 4, 3, 3, 2, 3, 4, 1, 2, 2]

In [58]:
sum_array=[over_having_6_4_csk[i]+over_having_6_4_kkr[i] for i in range(len(over_having_6_4_kkr))]
statistics_for_lists(sum_array)

Maximum Value Of List:
9
Median of the List:
4.0
Mean of the List:
4
75% of the Median is:
4
Minimum Value of List:
0

There might be 4 overs in a match between KKR and CSK where both six and four are present in an over.

In [61]:
#Q5
noball_count = ballbyball[ballbyball['noball_runs']!=0].groupby('match_id').noball_runs.count()
noball_count.describe()

count    10.000000
mean      1.600000
std       0.843274
min       1.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       3.000000
Name: noball_runs, dtype: float64

Out of 20 matches happened, only 10 matches have noballs and there possibility of 1 no ball 50% of time!