In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import statistics 
import math

In [ ]:
matches = pd.read_csv("/content/sample_data/matches.csv")
matches.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [ ]:
# setting up the table with relevant columns
dropList = ["result","player_of_match","venue","umpire1","umpire2","umpire3"]
matches.drop(labels=dropList, axis=1, inplace=True)
matches.head()

   id  season  ... win_by_runs win_by_wickets
0   1    2017  ...          35              0
1   2    2017  ...           0              7
2   3    2017  ...           0             10
3   4    2017  ...           0              6
4   5    2017  ...          15              0

[5 rows x 12 columns]

In [ ]:
matches[pd.isnull(matches['winner'])]

        id  season       city  ... winner win_by_runs win_by_wickets
300    301    2011      Delhi  ...    NaN           0              0
545    546    2015  Bangalore  ...    NaN           0              0
570    571    2015  Bangalore  ...    NaN           0              0
744  11340    2019  Bengaluru  ...    NaN           0              0

[4 rows x 12 columns]

In [ ]:
matches['winner'].fillna('Draw', inplace=True)
matches[pd.isnull(matches['winner'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, dl_applied, winner, win_by_runs, win_by_wickets]
Index: []

In [ ]:
matches[pd.isnull(matches['city'])]

      id  season city  ...                       winner win_by_runs win_by_wickets
461  462    2014  NaN  ...  Royal Challengers Bangalore           0              7
462  463    2014  NaN  ...             Delhi Daredevils           0              4
466  467    2014  NaN  ...          Chennai Super Kings           7              0
468  469    2014  NaN  ...          Sunrisers Hyderabad           4              0
469  470    2014  NaN  ...          Chennai Super Kings           0              7
474  475    2014  NaN  ...              Kings XI Punjab           0              5
476  477    2014  NaN  ...          Sunrisers Hyderabad          15              0

[7 rows x 12 columns]

In [ ]:
matches['city'].fillna('Dubai', inplace=True)
matches[pd.isnull(matches['city'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, dl_applied, winner, win_by_runs, win_by_wickets]
Index: []

In [ ]:
matches.replace(["Deccan Chargers","Delhi Daredevils"],["Sunrisers Hyderabad","Delhi Capitals"],inplace=True,regex=True)
match1 = matches[((matches.team1=="Kings XI Punjab") & (matches.team2=="Kolkata Knight Riders")) | ((matches.team1=="Kolkata Knight Riders") & (matches.team2=="Kings XI Punjab"))]
match1.shape[0]

25

In [ ]:
mw_kxip = 0 
mw_kkr = 0
lst= [i for i in match1['winner']] 
print("Win Tracker!")
for i in lst:
  if i=="Kolkata Knight Riders":
    mw_kkr += 1
  else:
    mw_kxip += 1
  print(str(mw_kxip)+" "+str(mw_kkr))
print("KXIP vs KKR : "+str(mw_kxip)+" "+str(mw_kkr))

Win Tracker!
0 1
1 1
2 1
2 2
2 3
3 3
3 4
4 4
4 5
5 5
5 6
6 6
6 7
7 7
7 8
7 9
7 10
7 11
7 12
7 13
7 14
8 14
8 15
8 16
8 17
KXIP vs KKR : 8 17

In [ ]:
last_3_season = matches[(matches['season']>=2017) & np.logical_or(np.logical_and(matches.team1=="Kolkata Knight Riders",matches.team2=="Kings XI Punjab"),np.logical_and(matches.team1=="Kings XI Punjab",matches.team2=="Kolkata Knight Riders"))]
last_3_season.groupby('winner').season.count()

winner
Kings XI Punjab          2
Kolkata Knight Riders    4
Name: season, dtype: int64

Out of 20 matches held between KKR and KXIP, KKR has steady lead against KXIP winning 66% of times in both the scenarios

In [ ]:
deliveries = pd.read_csv("/content/sample_data/deliveries.csv")
deliveries.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [ ]:
dropToBeList = ['inning','is_super_over','bye_runs','legbye_runs','fielder']
deliveries.drop(dropToBeList, axis=1, inplace=True)
deliveries['dismissal_kind'].fillna('Not Out',inplace=True)
deliveries.head()

   match_id         batting_team  ... player_dismissed  dismissal_kind
0         1  Sunrisers Hyderabad  ...              NaN         Not Out
1         1  Sunrisers Hyderabad  ...              NaN         Not Out
2         1  Sunrisers Hyderabad  ...              NaN         Not Out
3         1  Sunrisers Hyderabad  ...              NaN         Not Out
4         1  Sunrisers Hyderabad  ...              NaN         Not Out

[5 rows x 16 columns]

In [ ]:
ballbyball = deliveries[((deliveries.batting_team=="Kolkata Knight Riders") & (deliveries.bowling_team=="Kings XI Punjab")) | ((deliveries.batting_team=="Kings XI Punjab") & (deliveries.bowling_team=="Kolkata Knight Riders"))]
ballbyball.head()

      match_id     batting_team  ... player_dismissed  dismissal_kind
2355        11  Kings XI Punjab  ...              NaN         Not Out
2356        11  Kings XI Punjab  ...              NaN         Not Out
2357        11  Kings XI Punjab  ...              NaN         Not Out
2358        11  Kings XI Punjab  ...              NaN         Not Out
2359        11  Kings XI Punjab  ...              NaN         Not Out

[5 rows x 16 columns]

In [ ]:
#Q2
match_ids = list(set([i for i in ballbyball['match_id']]))
dots=[]
for i in match_ids:
  dot_balls_in_match = ballbyball[(ballbyball['match_id']==i) & (ballbyball.total_runs==0)].groupby('match_id').total_runs.count()
  dots.append(dot_balls_in_match.values[0])
print(statistics.median(dots))
print(statistics.mean(dots))
print(statistics.median_grouped(dots))

80
80
80.0

There are around 80 dot bolls tomorrow in between KXIP and KKR

In [ ]:
#Q3
dismmissal_count_array=[]
for i in match_ids:
  df = ballbyball[(ballbyball.match_id==i)&(ballbyball.over>=15)&(ballbyball.over<=20)].groupby('match_id').player_dismissed.count()
  dismmissal_count_array.append(df.values[0])
print(statistics.median(dismmissal_count_array))
print(statistics.mean(dismmissal_count_array))
print(statistics.median_grouped(dismmissal_count_array))

5
5
5.0

There might be 4-6 wickets falling in between 15-20 overs summing both the innings

In [ ]:
#Q4
glenn_rpm = ballbyball[ballbyball['batsman']=="GJ Maxwell"].groupby('match_id').batsman_runs.sum().reset_index()
glenn_with_kxip = list(set([i for i in glenn_rpm['match_id']]))
glenn_scores=[i for i in glenn_rpm['batsman_runs']]
team_scores = []
for i in glenn_with_kxip:
  df = ballbyball[(ballbyball.match_id==i) & (ballbyball.batting_team=="Kings XI Punjab")].total_runs.sum()
  team_scores.append(df)
print((statistics.median(glenn_scores)/statistics.median(team_scores))*100)

12.82051282051282

Glenn generally contributes to 10-15% of his team score!

In [ ]:
#Q5
nobs_in_match = ballbyball[ballbyball.noball_runs!=0].groupby('match_id').noball_runs.count()
print(statistics.median(nobs_in_match))
print(statistics.median_grouped(nobs_in_match))

1
1.1428571428571428