In [20]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import statistics 
import math

In [21]:
matches = pd.read_csv("/content/sample_data/matches.csv")
matches.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [22]:
# setting up the table with relevant columns
dropList = ["result","player_of_match","venue","umpire1","umpire2","umpire3"]
matches.drop(labels=dropList, axis=1, inplace=True)
matches.head()

   id  season  ... win_by_runs win_by_wickets
0   1    2017  ...          35              0
1   2    2017  ...           0              7
2   3    2017  ...           0             10
3   4    2017  ...           0              6
4   5    2017  ...          15              0

[5 rows x 12 columns]

In [23]:
matches[pd.isnull(matches['winner'])]

        id  season       city  ... winner win_by_runs win_by_wickets
300    301    2011      Delhi  ...    NaN           0              0
545    546    2015  Bangalore  ...    NaN           0              0
570    571    2015  Bangalore  ...    NaN           0              0
744  11340    2019  Bengaluru  ...    NaN           0              0

[4 rows x 12 columns]

In [24]:
matches['winner'].fillna('Draw', inplace=True)
matches[pd.isnull(matches['winner'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, dl_applied, winner, win_by_runs, win_by_wickets]
Index: []

In [25]:
matches[pd.isnull(matches['city'])]

      id  season city  ...                       winner win_by_runs win_by_wickets
461  462    2014  NaN  ...  Royal Challengers Bangalore           0              7
462  463    2014  NaN  ...             Delhi Daredevils           0              4
466  467    2014  NaN  ...          Chennai Super Kings           7              0
468  469    2014  NaN  ...          Sunrisers Hyderabad           4              0
469  470    2014  NaN  ...          Chennai Super Kings           0              7
474  475    2014  NaN  ...              Kings XI Punjab           0              5
476  477    2014  NaN  ...          Sunrisers Hyderabad          15              0

[7 rows x 12 columns]

In [26]:
matches['city'].fillna('Dubai', inplace=True)
matches[pd.isnull(matches['city'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, dl_applied, winner, win_by_runs, win_by_wickets]
Index: []

In [27]:
matches.replace(["Deccan Chargers","Delhi Daredevils"],["Sunrisers Hyderabad","Delhi Capitals"],inplace=True,regex=True)
match1 = matches[((matches.team1=="Delhi Capitals") & (matches.team2=="Mumbai Indians")) | ((matches.team1=="Mumbai Indians") & (matches.team2=="Delhi Capitals"))]
match1.shape[0]

24

In [28]:
mw_dc = 0 
mw_mi = 0
lst= [i for i in match1['winner']] 
print("Win Tracker!")
for i in lst:
  if i=="Mumbai Indians":
    mw_mi += 1
  elif i=='Draw':
    continue
  else:
    mw_dc += 1
  print(str(mw_dc)+" "+str(mw_mi))
print("DC vs MI : "+str(mw_dc)+" "+str(mw_mi))

Win Tracker!
0 1
0 2
0 3
1 3
2 3
3 3
3 4
3 5
3 6
3 7
4 7
5 7
5 8
6 8
7 8
7 9
8 9
8 10
9 10
9 11
10 11
11 11
12 11
12 12
DC vs MI : 12 12

In [29]:
last_3_season = match1[match1.season >= 2017]
last_3_season.groupby('winner').winner.count()

winner
Delhi Capitals    3
Mumbai Indians    3
Name: winner, dtype: int64

Out of 24 matches held between DC and MI compared in two
scenarios, In both of the cases, both stands level. Its surely gonna be an exciting start for the playoff!

In [30]:
def statistics_for_lists(lst):
  print("Maximum Value Of List:")
  print(max(lst))
  print("Median of the List:")
  print(statistics.median(lst))
  print("Mean of the List:")
  print(statistics.mean(lst))
  print("75% of the Median is:")
  print(statistics.median_high(lst))
  print("Minimum Value of List:")
  print(min(lst))

In [31]:
deliveries = pd.read_csv("/content/sample_data/deliveries.csv")
deliveries.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [32]:
dropToBeList = ['inning','is_super_over','bye_runs','legbye_runs','fielder']
deliveries.drop(dropToBeList, axis=1, inplace=True)
deliveries.replace(['Deccan Chargers','Delhi Daredevils'],['Sunrisers Hyderabad','Delhi Capitals'],inplace=True,regex=True)
deliveries['dismissal_kind'].fillna('Not Out',inplace=True)
deliveries.head()

   match_id         batting_team  ... player_dismissed  dismissal_kind
0         1  Sunrisers Hyderabad  ...              NaN         Not Out
1         1  Sunrisers Hyderabad  ...              NaN         Not Out
2         1  Sunrisers Hyderabad  ...              NaN         Not Out
3         1  Sunrisers Hyderabad  ...              NaN         Not Out
4         1  Sunrisers Hyderabad  ...              NaN         Not Out

[5 rows x 16 columns]

In [33]:
ballbyball = deliveries[((deliveries.batting_team=="Mumbai Indians") & (deliveries.bowling_team=='Sunrisers Hyderabad')) | ((deliveries.batting_team=='Sunrisers Hyderabad') & (deliveries.bowling_team=="Mumbai Indians"))]
no_of_matches=list(set([i for i in ballbyball['match_id']]))
no_of_matches.sort()
print(len(no_of_matches))

24

In [34]:
#Q2
no_of_wickets_fall = ballbyball[(ballbyball.dismissal_kind != 'Not Out') & (ballbyball.over>=1) & (ballbyball.over<=5)].groupby('match_id').dismissal_kind.count()
no_of_wickets_fall.describe()

count    24.000000
mean      2.541667
std       1.318074
min       1.000000
25%       1.000000
50%       2.500000
75%       3.250000
max       5.000000
Name: dismissal_kind, dtype: float64

There is on an average, chance of fall of 2 to 3 wickets in this match's powerplay overall!

In [35]:
#Q5
bumrah = deliveries[(deliveries.bowler=='JJ Bumrah') & (deliveries.over>=15) & (deliveries.over<=20)]
matches_by_bumrah = list(set([i for i in bumrah['match_id']]))
ecr = [] 
for i in matches_by_bumrah:
  df = bumrah[bumrah.match_id==i]
  balls = df.shape[0]
  if(balls>=24):
    balls = 4
  elif(balls>=18):
    balls = 3
  elif(balls>=12):
    balls = 2
  elif(balls>=6):
    balls=1
  runs_given = df['total_runs'].sum()
  if(balls==0):
    continue
  else: 
    er = runs_given/balls
    ecr.append(er)
print(ecr)
statistics_for_lists(ecr)

[12.5, 8.5, 14.0, 14.0, 16.0, 16.0, 11.0, 5.5, 4.0, 6.0, 17.0, 9.0, 10.0, 5.5, 14.5, 9.0, 7.0, 10.5, 13.0, 4.5, 9.0, 12.5, 8.0, 11.5, 10.0, 5.0, 12.0, 8.0, 25.0, 16.0, 6.0, 11.0, 5.0, 7.5, 9.0, 6.5, 6.5, 9.5, 5.0, 12.0, 16.5, 11.0, 9.0, 9.5, 11.666666666666666, 6.0, 7.5, 14.5, 8.333333333333334, 5.0, 9.0, 8.0, 9.0, 7.5, 9.0, 13.0, 8.5, 9.0, 8.0, 10.0, 7.5, 3.0, 3.0, 12.5, 6.0, 9.5, 10.0, 5.0, 7.333333333333333, 14.5, 10.5]
Maximum Value Of List:
25.0
Median of the List:
9.0
Mean of the List:
9.5962441314554
75% of the Median is:
9.0
Minimum Value of List:
3.0

Though the above stats are inclined towards nine, I prefer 6 to 7 as his consistency is tremendous in this season of ipl

In [36]:
#Q4
batsman_morethan_30 = []
for i in no_of_matches:
  df = ballbyball[ballbyball.match_id==i]
  lst_batsman = list(set([i for i in df['batsman']]))
  count = 0
  for j in lst_batsman:
    bt_score = df[(df.batsman==j)]
    score = bt_score['batsman_runs'].sum()
    if(score>30):
      count += 1
  batsman_morethan_30.append(count)
print(batsman_morethan_30)
statistics_for_lists(batsman_morethan_30)

[5, 3, 5, 4, 5, 2, 3, 3, 4, 1, 3, 1, 3, 5, 4, 4, 3, 2, 3, 3, 2, 2, 1, 3]
Maximum Value Of List:
5
Median of the List:
3.0
Mean of the List:
3.0833333333333335
75% of the Median is:
3
Minimum Value of List:
1

There are on an average of 3 to 5 players who score above 30 in the match

In [37]:
#Q3
reqCount=[]
for i in no_of_matches:
  df = ballbyball[ballbyball.match_id==i]
  lst_bowler = list(set([i for i in df['bowler']]))
  count = 0
  for j in lst_bowler:
    bowler_stats = df[df.bowler==j]
    runs_given = bowler_stats['total_runs'].sum()
    balls = bowler_stats.shape[0] # i meant its overs
    if(balls>=24):
      balls = 4
    elif(balls>=18):
      balls = 3
    elif(balls>=12):
      balls = 2
    elif(balls>=6):
      balls=1
    if(runs_given/balls < 9 and balls > 1):
      nof_boundaries = bowler_stats[(bowler_stats.batsman_runs==4) | (bowler_stats.batsman_runs==6)]
      nof_boundaries = nof_boundaries.shape[0]
      sixes = bowler_stats[bowler_stats.batsman_runs==6]
      sixes = sixes.shape[0]
      if(nof_boundaries<6 and sixes<=2):
        count += 1
  reqCount.append(count)
print(reqCount)
statistics_for_lists(reqCount)

[6, 8, 5, 7, 9, 9, 6, 9, 6, 10, 7, 10, 9, 6, 7, 7, 8, 9, 6, 6, 8, 10, 9, 5]
Maximum Value Of List:
10
Median of the List:
7.5
Mean of the List:
7.583333333333333
75% of the Median is:
8
Minimum Value of List:
5