In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import statistics 
import math

In [ ]:
matches = pd.read_csv("/content/sample_data/matches.csv")
matches.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [ ]:
# setting up the table with relevant columns
dropList = ["result","player_of_match","venue","umpire1","umpire2","umpire3"]
matches.drop(labels=dropList, axis=1, inplace=True)
matches.head()

   id  season  ... win_by_runs win_by_wickets
0   1    2017  ...          35              0
1   2    2017  ...           0              7
2   3    2017  ...           0             10
3   4    2017  ...           0              6
4   5    2017  ...          15              0

[5 rows x 12 columns]

In [ ]:
matches[pd.isnull(matches['winner'])]

        id  season       city  ... winner win_by_runs win_by_wickets
300    301    2011      Delhi  ...    NaN           0              0
545    546    2015  Bangalore  ...    NaN           0              0
570    571    2015  Bangalore  ...    NaN           0              0
744  11340    2019  Bengaluru  ...    NaN           0              0

[4 rows x 12 columns]

In [ ]:
matches['winner'].fillna('Draw', inplace=True)
matches[pd.isnull(matches['winner'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, dl_applied, winner, win_by_runs, win_by_wickets]
Index: []

In [ ]:
matches[pd.isnull(matches['city'])]

      id  season city  ...                       winner win_by_runs win_by_wickets
461  462    2014  NaN  ...  Royal Challengers Bangalore           0              7
462  463    2014  NaN  ...             Delhi Daredevils           0              4
466  467    2014  NaN  ...          Chennai Super Kings           7              0
468  469    2014  NaN  ...          Sunrisers Hyderabad           4              0
469  470    2014  NaN  ...          Chennai Super Kings           0              7
474  475    2014  NaN  ...              Kings XI Punjab           0              5
476  477    2014  NaN  ...          Sunrisers Hyderabad          15              0

[7 rows x 12 columns]

In [ ]:
matches['city'].fillna('Dubai', inplace=True)
matches[pd.isnull(matches['city'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, dl_applied, winner, win_by_runs, win_by_wickets]
Index: []

In [ ]:
matches.replace(["Deccan Chargers","Delhi Daredevils"],["Sunrisers Hyderabad","Delhi Capitals"],inplace=True,regex=True)
match1 = matches[((matches.team1=="Royal Challengers Bangalore") & (matches.team2=="Sunrisers Hyderabad")) | ((matches.team1=="Sunrisers Hyderabad") & (matches.team2=="Royal Challengers Bangalore"))]
match1.shape[0]

25

In [ ]:
mw_srh = 0 
mw_rcb = 0
lst= [i for i in match1['winner']] 
print("Win Tracker!")
for i in lst:
  if i=="Royal Challengers Bangalore":
    mw_rcb += 1
  elif i=='Draw':
    continue
  else:
    mw_srh += 1
  print(str(mw_srh)+" "+str(mw_rcb))
print("SRH vs RCB : "+str(mw_srh)+" "+str(mw_rcb))

Win Tracker!
1 0
1 1
1 2
2 2
2 3
3 3
4 3
5 3
5 4
6 4
6 5
7 5
8 5
8 6
8 7
9 7
10 7
10 8
10 9
11 9
12 9
13 9
13 10
14 10
14 11
SRH vs RCB : 14 11

In [ ]:
last_3_season = match1[match1.season >= 2017]
last_3_season.groupby('winner').winner.count()

winner
Royal Challengers Bangalore    2
Sunrisers Hyderabad            3
Name: winner, dtype: int64

Out of 25 neck to neck matches held between SRH and RCB compared in two scenarios, SRH comfortably leads with the complete history and also in last 3 season record with 3 to 2

In [ ]:
def statistics_for_lists(lst):
  print("Maximum Value Of List:")
  print(max(lst))
  print("Median of the List:")
  print(statistics.median(lst))
  print("Mean of the List:")
  print(statistics.mean(lst))
  print("75% of the Median is:")
  print(statistics.median_high(lst))
  print("Minimum Value of List:")
  print(min(lst))

In [ ]:
deliveries = pd.read_csv("/content/sample_data/deliveries.csv")
deliveries.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [ ]:
dropToBeList = ['inning','is_super_over','bye_runs','legbye_runs','fielder']
deliveries.drop(dropToBeList, axis=1, inplace=True)
deliveries.replace(['Deccan Chargers','Delhi Daredevils'],['Sunrisers Hyderabad','Delhi Capitals'],inplace=True,regex=True)
deliveries['dismissal_kind'].fillna('Not Out',inplace=True)
deliveries.head()

   match_id         batting_team  ... player_dismissed  dismissal_kind
0         1  Sunrisers Hyderabad  ...              NaN         Not Out
1         1  Sunrisers Hyderabad  ...              NaN         Not Out
2         1  Sunrisers Hyderabad  ...              NaN         Not Out
3         1  Sunrisers Hyderabad  ...              NaN         Not Out
4         1  Sunrisers Hyderabad  ...              NaN         Not Out

[5 rows x 16 columns]

In [ ]:
ballbyball = deliveries[((deliveries.batting_team=="Royal Challengers Bangalore") & (deliveries.bowling_team=='Sunrisers Hyderabad')) | ((deliveries.batting_team=='Sunrisers Hyderabad') & (deliveries.bowling_team=="Royal Challengers Bangalore"))]
no_of_matches=list(set([i for i in ballbyball['match_id']]))
no_of_matches.sort()
print(len(no_of_matches))

25

In [ ]:
#Q5
no_of_wickets_fall = ballbyball[(ballbyball.dismissal_kind != 'Not Out') & (ballbyball.over>=1) & (ballbyball.over<=5)].groupby('match_id').dismissal_kind.count()
no_of_wickets_fall.describe()

count    22.000000
mean      2.590909
std       1.296849
min       1.000000
25%       1.250000
50%       2.500000
75%       4.000000
max       5.000000
Name: dismissal_kind, dtype: float64

There is on an average, chance of fall of 2 to 4 wickets in this match's powerplay overall!

In [ ]:
#Q2
sandy = deliveries[(deliveries.bowler=='Sandeep Sharma') & (deliveries.over>=1) & (deliveries.over<=4)]
matches_by_sandy = list(set([i for i in sandy['match_id']]))
ecr = [] 
boundaries_gvn=[]
for i in matches_by_sandy:
  df = sandy[sandy.match_id==i]
  nof_boundaries = df[(df['batsman_runs']==6) | (df['batsman_runs']==4)]
  nof_boundaries = nof_boundaries.shape[0]
  balls = df.shape[0]
  if(balls>=24):
    balls = 4
  elif(balls>=18):
    balls = 3
  elif(balls>=12):
    balls = 2
  elif(balls>=6):
    balls=1
  runs_given = df['total_runs'].sum()
  if(balls==0):
    continue
  else: 
    er = runs_given/balls
    ecr.append(er)
  boundaries_gvn.append(nof_boundaries)
statistics_for_lists(boundaries_gvn)
print("------------------------")
statistics_for_lists(ecr)

Maximum Value Of List:
4
Median of the List:
2
Mean of the List:
1.8059701492537314
75% of the Median is:
2
Minimum Value of List:
0
------------------------
Maximum Value Of List:
22.0
Median of the List:
6.5
Mean of the List:
6.925373134328358
75% of the Median is:
6.5
Minimum Value of List:
0.0

Sandy might give away 2 boundaries and bowl with economy of 6.5 to 7

In [ ]:
#Q3
lst_count = []
for i in no_of_matches:
  df = ballbyball[ballbyball.match_id==i]
  lst_batsman = list(set([j for j in df['batsman']]))
  count=0
  for j in lst_batsman:
    batsman_stats = df[df.batsman==j]
    runs_scored = batsman_stats['batsman_runs'].sum()
    balls_played=batsman_stats[(batsman_stats.wide_runs==0) | (batsman_stats.noball_runs==0)].shape[0]
    if(balls_played>10):
      strike_rate = runs_scored*100/balls_played
      nof4s = batsman_stats[batsman_stats.batsman_runs==4].shape[0]
      nof46s = batsman_stats[(batsman_stats.batsman_runs==4) | (batsman_stats.batsman_runs==6)].shape[0]
      if(strike_rate>130 and nof46s>3 and nof4s>=2):
        count += 1
  lst_count.append(count)
print(lst_count)
statistics_for_lists(lst_count)

[5, 3, 1, 3, 2, 2, 5, 1, 0, 4, 3, 1, 0, 3, 2, 1, 4, 4, 5, 5, 5, 2, 5, 2, 5]
Maximum Value Of List:
5
Median of the List:
3
Mean of the List:
2.92
75% of the Median is:
3
Minimum Value of List:
0

In [ ]:
#Q4
lst=['DA Warner','V Kohli','MK Pandey','WP Saha','KS Williamson','AB de Villiers']
ratios=[]
for i in lst:
  df = deliveries[deliveries.batsman==i]
  balls_played = df[(df.wide_runs==0) | (df.noball_runs==0)].groupby('match_id').ball.count().reset_index()
  runs_scored = df.groupby('match_id').batsman_runs.sum().reset_index()
  runs123 = df[(df.batsman_runs==1) | (df.batsman_runs==2) | (df.batsman_runs==3)].groupby('match_id').batsman_runs.sum().reset_index()
  runs123.rename(columns={'batsman_runs':'score123'},inplace=True)
  runs46 = df[(df.batsman_runs==4) | (df.batsman_runs==6)].groupby('match_id').batsman_runs.sum().reset_index()
  runs46.rename(columns={'batsman_runs':'score46'},inplace=True)
  d1 = pd.merge(runs_scored,runs123,how='outer')
  d2 = pd.merge(runs46,balls_played,how='outer')
  d = pd.merge(d1,d2,how='outer')
  d.fillna(0,inplace=True)
  d = d[d.ball>10]
  if(d.shape[0]>0):
    d['ratio'] = (d['score46'] - d['score123'])/d['batsman_runs']
    ratios.append(statistics.median(d['ratio']))
for i,j in zip(lst,ratios):
  print(i+" "+str(j))

DA Warner 0.23076923076923078
V Kohli 0.11469534050179211
MK Pandey 0.02857142857142857
WP Saha 0.07417582417582418
KS Williamson 0.0847457627118644
AB de Villiers 0.15384615384615385